:root {
    --fondo-barras: #D8829D;
    --fondo-base: #d8c2ad;
    --texto-principal: #FFF5E1;
    --texto-secundario: #c5bab07b;
    --hover: #5D4037;
}

/* header */

header.nav-header{
    background-color: var(--fondo-barras);
    padding: 15px 30px;
}

.nav-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
    object-fit: contain;
    gap: 5px
}

.header-logo h1.titulo{
    margin: 0;
}

.header-logo p.eslogan-header{
    margin: 2px 0 0 0;
}

.logo-img{
    width: 60px;
    height: auto;
    object-fit: contain;
}

h1.titulo-header{
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: var(--texto-principal);
    font-size: 28px;
}

p.eslogan-header{
    margin: 4px 0 0 0;
    font-family: 'Lato', sans-serif;
    color: var(--texto-principal);
}

ul.navbar-nav{
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li.item-nav a{
    color: var(--texto-principal);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

li.item-nav a:hover{
    color: var(--hover);
}

/* cuerpo */

html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    background-color: var(--fondo-base);
}

.portada-contenido{
    display: flex;
    align-items: center;
}

.portada-texto{
    width: 50%;
    margin-left: 20px;
}

.portada-video{
    width: 40%;
    margin-left: 70px;
}

.portada-video video{
    width: 100%;
}

h2.portada-titulo{
    font-family: 'Pacifico', cursive;
    color: var(--hover);
}
    
p.portada-baja {
    font-family: 'Lato', sans-serif;
    color: var(--hover);
}

section.portada-index{
    background-color: var(--fondo-base);
}
/* footer */

footer.nav-footer{
    background-color: var(--fondo-barras);
    padding: 15px 30px;
}

.footer-contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-texto{
    color: var(--texto-principal);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

a.footer-link{
    color: var(--texto-principal);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: bold;
}

a.footer-link:visited{
    color: var(--texto-principal);
}

a.footer-link:hover{
    color: var(--hover);
    transition: color 0.3s ease;
}